{% extends 'base.html' %}

{% load static %}
{% load markdownify %}

{% block content %}
<main class="recipe-detail">
  <div>
    <a href="{% url 'mealplan_edit' mealplan.id %}">Edit</a>
    <a href="{% url 'mealplan_delete' mealplan.id %}">Delete</a>
  </div>
  <div>
    <h2>Recipes for {{ mealplan.name }} on {{mealplan.date}}</h2>
    {% for recipe in mealplan.recipes.all %}
    <p><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a></p>
    {% endfor %}
  </div>
</main>

{% endblock content %}