{% extends 'base.html' %}

{% load static %}

{% block content %}
<div>
  <a href="{% url 'mealplan_new' %}">Create</a>
</div>

<main class="recipe-grid">
  {% for meal_plan in mealplan_list %}
  <div class="recipe-card">
    <h2 class="recipe-card-title">
      <a href="{% url 'mealplan_detail' meal_plan.pk %}">{{ meal_plan.name }}</a>
    </h2>
    {% for recipe in meal_plan.recipes.all %}
    <p><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a></p>
    {% endfor %}

  </div>
  {% endfor %}
</main>
{% endblock content %}



{% block pagination %}
<div class="footer">
  <span>
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; First</a>
    <a href="?page={{ page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"> Next </a>
    <a href="?page={{ page_obj.paginator.num_pages }}"> Last&raquo; </a>
    {% endif %}
  </span>
</div>
{% endblock pagination %}